/* MES VARIABLES */ 
$violet : #9356DC;
$rose : #FF79DA;
$vert: #99E2D0;
$noir: black;
$blanc: white;
$grisclair:  #f5f8f7; 
$policeshrikhand: 'Shrikhand', cursive;
$policeroboto: 'Roboto', sans-serif;
$paddingTopSection: 40px;
$paddingBottomSection: 70px;
$ombre: 1px 18px 15px -9px rgba(0,0,0,0.56);
$paddingLeftDuTexteSousPhotoRestaurant : 20px;

/* VARIABLES HEADER */ 
$HeaderConteneurLogoDisplay : flex;
$HeaderConteneurLogoJustifyContent : center;
$HeaderConteneurLogoPaddingTop : 20px;
$HeaderConteneurLogoPaddingBottom : 20px;
$HeaderConteneurLogoWidth : 100%;
$HeaderImgWidth : 50%;

/* VARIABLES FOOTER */
$FooterBackgroundColor : $noir;
$FooterColor : $blanc;
$FooterBlocPadding : 30px;
$Footerh4FontFamily : $policeshrikhand;
$Footerh4FontWeight : bold;
$Footerh4MarginBlockStart : 0em;
$FooterFasFoat : left;
$FooterTexteMarginLeft: 30px;
$FooterATextDecoration: none;
$FooterAColor : $blanc; 

/* VARIABLES PAGES DE MENU */ 


 
/* POLICES */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 *{font-family: $policeshrikhand}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
 *{font-family: $policeroboto;}

    body{
        margin: 0;
    }
    
    /* HEADER */
    #headerconteneurlogo{
        display: $HeaderConteneurLogoDisplay;
        justify-content: $HeaderConteneurLogoJustifyContent;
        padding-top : $HeaderConteneurLogoPaddingTop;
        padding-bottom: $HeaderConteneurLogoPaddingBottom;
        width: $HeaderConteneurLogoWidth;
        
        img {
            width: $HeaderImgWidth;           
        }
    }
    
  
    /* SECTION RECHERCHE */

    #recherche{
        background-color: $grisclair;
        padding-bottom: $paddingBottomSection;

        #recherche__lignerecherche{
            display: flex;
            background-color: #f2f2f2;
            height: auto;
            justify-content: center;

            #conteneuriconmap{
                display: flex;
                margin-right: 15px;
                align-items: center;

                    #iconmap{
                        font-size: 20px;
                        width: 100%;
                        margin-left: 75px; 
                    }
            }
    
            #conteneurchampsrecherche{
                display: flex;
                justify-content: center; 
           
                #champsrecherche{
                    height: 50px;
                    border: none;
                    background-color:#f2f2f2;
                    font-size : 18px;
                    font-weight: bold;
                    
                               
                }
            
            }
            
        } 
           
            
        h1{
            font-size: 30px;
            text-align: center;
            font-family: $policeroboto;
            font-weight: bold;
            
        }
    
        p{
            font-size: 25px;
            text-align: center;
        }
    
        #recherche__conteneurboutonexplorer{
            display: flex;
            justify-content: center;

                #boutonexplorer{
                    
                    color: white;
                    border-radius: 40px;
                    font-size: 18px;
                    padding: 20px;
                    background: rgb(255,121,218);
                    background: linear-gradient(180deg, rgba(255,121,218,1) 20%, rgba(147,86,220,1) 100%);
                    border: none;
                    box-shadow: $ombre;
                }
        }
        
    }
    

    /* SECTION FONCTIONNEMENT */

    #fonctionnement{
        padding-top: $paddingTopSection;
        padding-bottom: $paddingBottomSection;

        h2{
            margin-left: 10px;
        }


        .ensemble__fonctionnement__boutons{
          display: flex;
            
            
        }  

            .fonctionnement__boutons{
                display: flex;      
                margin: 30px;
                border-radius: 20px;
                padding: 25px;
                justify-content: center;
                font-size: 15px;
                font-weight: bold;
                background-color: $grisclair;               
                border: none;
                box-shadow: $ombre;
                text-decoration: none;
                width: auto;
                
                

                    a{
                        display: flex;
                        text-decoration: none;
                        width: 100%;
                        

                        .num{
                            display: flex;
                            border-radius: 50%;
                            color:$blanc ;
                            background-color: $violet;
                            padding: 10px;
                            align-items: center;
                            height: 10px;
                            width: 10px;
                            margin-left: -39px;
                             
                                                      
                            
                        }
        
                        .fas{
                            font-size: 20px;
                            margin-left: 20px;
                            margin-right: 20px;
                            color: grey;
                        
                        }
        
                        .bouton{
                            border: none;
                            background-color: $grisclair;
                            font-weight: bold;
                            font-size: 16px;
                        }

                    }

                

               
            }

    
    }

    /* SECTION RESTAURANT */

    #restaurant{
        
        background-color: $grisclair;
        padding-top: $paddingTopSection;
        padding-bottom: $paddingBottomSection;

        h2{
            margin-left: 10px;
        }

        .ensemble__restaurant__carte{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

       .restaurant__carte{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: $blanc;
        margin-top: 30px;
        width: 90%;
        box-shadow: $ombre;

            a{
                text-decoration: none;
                color: $noir;

      
                .restaurant__carte__photo{
                    width: 100%;
                    height: 300px;
                    border-radius: 20px 20px 0 0;
                    object-fit: cover;
                    
                }

                h3{
                    margin-bottom: 0;
                    padding-left: $paddingLeftDuTexteSousPhotoRestaurant;                
                }

                .paragrapheetlogo{
                    display: flex;

                        p{
                        margin-top: 0;
                        width: 90%;
                        padding-left: $paddingLeftDuTexteSousPhotoRestaurant;            
                        }

                    .conteneurcoeur{
                        display: flex;
                        width: 10%;
                        justify-items: center;
                        

                        .far{
                            width: 100%;
                            font-size: 20px;
                        }
                    }
            
                }

            }

            
        }

    }

    
    

    /* FOOTER */

    footer{
        background-color: $FooterBackgroundColor;
        color: $FooterColor;

        .footer__bloc{
            padding: $FooterBlocPadding;
            
                h4{
                font-family: $Footerh4FontFamily;
                font-weight: $Footerh4FontWeight;
                margin-block-start: $Footerh4MarginBlockStart;
            }

            .fas{
                float: $FooterFasFoat;
            }

            .texte{
                margin-left: $FooterTexteMarginLeft;
            }

            a{
                text-decoration: $FooterATextDecoration;
                color: $FooterAColor;
            }

        }
    

}



/* PAGE MENU */ 

    /* section menu */

    header{
        display: flex;

        .conteneurflèche{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 10%;
            
            .fas{
            font-size: 25px;
            }

        }

        .restaurant__headerconteneurlogo{
            display: $HeaderConteneurLogoDisplay;
            justify-content: $HeaderConteneurLogoJustifyContent;
            padding-top : $HeaderConteneurLogoPaddingTop;
            padding-bottom: $HeaderConteneurLogoPaddingBottom;
            width: 90%;
        
            img {
                width: $HeaderImgWidth;
                margin-left: -50px;           
            }

        }
        
    }

    #menu{
      
        .menu__photo{
            height: 240px;
            width: 100%;
            object-fit: cover;
            
        }

        .carte{
            background-color: $grisclair;
            border-radius: 20px 20px 0 0 ;
            margin-top: -50px;

            .conteneurh1iconcoeur{
                display: flex;
                justify-content: center;

                h1{
                    font-family: $policeshrikhand;
                    font-size: 26px;
                }

                .conteneuriconcoeur{
                    display: flex;
                    align-items: center;
                    margin-left: 37px;

                    .far{
                        font-size: 24px;
                    }
                }
            }

            .partiedumenu{
                h2{
                    font-size: 14px;
                    margin-left: 10px;
                }
                .choix{
                    background-color: $blanc;
                    border-radius: 20px;
                    margin: 10px;
                    box-shadow: $ombre;
                    padding: 10px;

                    h3{
                        margin: 0px;
                    }

                    .détail{
                        display: flex;
                        justify-content: space-between;

                        p{
                            margin-bottom: 0;
                            margin-top: 5px;
                           
                        }
                        p:last-child{
                            font-weight: bold;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .conteneurboutoncommander{
                display: flex;
                justify-content: center;

                .boutoncouleurdégradée{                    
                    color: white;
                    border-radius: 40px;
                    font-size: 16px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 50px;
                    padding-right: 50px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    background: rgb(255,121,218);
                    background: linear-gradient(180deg, rgba(255,121,218,1) 20%, rgba(147,86,220,1) 100%);
                    border: none;
                    box-shadow: $ombre;
                }
            }
        }
        


    }
    