@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 {font-family: 'Shrikhand', cursive;}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
* {font-family: 'Roboto', sans-serif;}



/* MEDIA QUERIES 620PX */

@media screen and (max-width: 620px) {
    
    /* HEADER */
    #conteneurheaderlogo{
        display: flex;
        justify-content: center;        
    }
    
    #headerlogo{
         width: 50%;
    }

    /* SECTION RECHERCHE */

    #recherche{
        background-color: #f5f8f7;
    }

    #lignerecherche{
        display: flex;
        background-color: #f2f2f2;
        height: auto;
        justify-content: center;
    }

    #conteneuriconmap{
        display: flex;
        margin-right: 15px;
        align-items: center;
        
    }

    #iconmap{
        font-size: 20px;
        width: 100%;
    }

    #conteneurchampsrecherche{
       display: flex;
       justify-content: center;   
        
    }

    #champsrecherche{
        height: 50px;
        border: none;
        background-color:#f2f2f2;
        font-size : 18px;            
    }

    h1{
        font-size: 40px;
        text-align: center;
    }

    #recherche p{
        font-size: 25px;
        text-align: center;
    }

    #conteneurboutonexplorer{
        display: flex;
        justify-content: center;
    }
    #boutonexplorer{
        border-radius: 20px;
        color: ;
       
    }

    /* SECTION FONCTIONNEMENT */

    /* SECTION RESTAURANT */
    .photoresto{
        width: 100%;
    }

    /* FOOTER */

}